  <div class="col-lg-3 col-xs-3 list-group btn-lg botones le">
                    <a href="#!/registrarUsuario" class="list-group-item">Registrar Usuarios</a>
                    <a href="#!/registrarApiarios" class="list-group-item">Registrar Apiarios</a>
                    <a href="#!/registrarColmenas" class="list-group-item">Registrar Colmenas</a>
                    <a href="#!/registrarCamaras" class="list-group-item">Registro de Camaras</a>
                    <a href="#!/registrarMarcos" class="list-group-item">Registro de Marcos</a>
                    <a href="#!/registrarInventario" class="list-group-item">Registrar Inventario</a>
                </div>