<html>
    <head>
        <title>CAAC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Css/bootstrap.min.css">
        <link rel="stylesheet" href="Css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="Css/estilo.css">
    </head>
    <body>
        <div class=" container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="le nav nav-tabs btn-lg">
                        <li role="presentation" class=""><a href="MenuRegistrar.html">Registros</a></li>
                        <li role="presentation" class=""><a href="MenuControl.html">Control</a></li>
                        <li role="presentation" class="active"><a href="MenuConsultas.html">Consultas</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-xs-3 list-group btn-lg botones le">
                    <a href="ConsultasColmena.html" class="list-group-item active">Consultar Colmena</a>
                    <a href="" class="list-group-item">Inventario</a>
                    <a href="" class="list-group-item">Reportes</a>

                </div>

                <div class="col-lg-9 col-xs-9">
                    <div class="row">
                        <div class="text-center Titulo">
                            Consultas
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center Titulo subtituloConsulColRegular">
                            Regular
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-lg-offset-2 col-lg-8">
                            <table border class="table">
                                <tr>
                                    <td><strong>Apiario</strong></td>
                                    <td><strong>Colmena</strong></td>
                                    <td><strong>Estado</strong></td>
                                </tr>

                                <tr>
                                    <td>Apiario 1</td>
                                    <td>1</td>
                                    <td>Regular</td>
                                </tr>

                                <tr>
                                    <td>Apiario 1</td>
                                    <td>2</td>
                                    <td>Regular</td>
                                </tr>

                                <tr>
                                    <td>Apiario 1</td>
                                    <td>3</td>
                                    <td>Regular</td>
                                </tr>

                                <tr>
                                    <td>Apiario 1</td>
                                    <td>4</td>
                                    <td>Regular</td>
                                </tr>
                                
                                 <tr>
                                    <td>Apiario 1</td>
                                    <td>5</td>
                                    <td>Regular</td>
                                </tr>

                                <tr>
                                    <td>Apiario 2</td>
                                    <td>2</td>
                                    <td>Regular</td>
                                </tr>
                                
                                <tr>
                                    <td>Apiario 2</td>
                                    <td>3</td>
                                    <td>Regular</td>
                                </tr>
                                
                                 <tr>
                                    <td>Apiario 2</td>
                                    <td>4</td>
                                    <td>Regular</td>
                                </tr>

                                <tr>
                                    <td>Apiario 2</td>
                                    <td>5</td>
                                    <td>Regular</td>
                                </tr>
                            </table>
                            <div class="col-lg-offset-10 col-lg-2">
                                <a href="ConsultasColmena.html"><button class="btn btn-block btn-group-lg btn-default">Atras</button></a>
                        </div>
                        </div>
                    </div>
                   
                        
                    

                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div>
        <script src="js/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
