<div class=" container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="le nav nav-tabs btn-lg">
                <li role="presentation" class=""><a href="#!/MenuRegistrar">Registros</a></li>
                <li role="presentation" class=""><a href="#!/MenuControl">Control</a></li>
                <li role="presentation" class="active"><a href="#!/MenuConsultas">Consultas</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-3 list-group btn-lg botones le">
            <a href="#!/ConsultasColmena" class="list-group-item">Consultar Colmena</a>
            <a href="#!/ConsultaInventarios" class="list-group-item">Inventario</a>
            <a href="#!/ConsultaReportes" class="list-group-item active">Reportes</a>
        </div>

        <div class="col-lg-9 col-xs-9">
            <div class="row">
                <div class="Titulo"> Datos </div>
            </div>

            <div class="col-lg-offset-2 col-lg-8">

                <div class="row margenfilas">
                    <div class="col-lg-4 margendatos text-right"><label>cantidad vendida de miel mensual</label></div>
                    <div class="col-lg-4 "><input type="text" class="form-control"> </div>
                </div>
                <div class="row margenfilas">
                    <div class="col-lg-4 margendatos text-right"><label>Pasilla repuestas al mes</label></div>
                    <div class="col-lg-4"><input type="text" class="form-control"> </div>
                    <div class="col-lg-2 margendatos"><label>En Kilos</label></div>
                </div>
                <div class="row margenfilas">
                    <div class="col-lg-4 margendatos text-right"><label>Veneno repuestas al mes</label></div>
                    <div class="col-lg-4"><input type="text" class="form-control"> </div>
                    <div class="col-lg-2 margendatos"><label>En Litros</label></div>
                </div>
                <div class="row margenfilas">
                    <div class="col-lg-4 margendatos text-right"><label>ACPM repuestas al mes</label></div>
                    <div class="col-lg-4"><input type="text" class="form-control"> </div>
                    <div class="col-lg-2 margendatos"><label>En Litros</label></div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div>

