<div class=" container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="le nav nav-tabs btn-lg">
                <li role="presentation" class=""><a href="#!/MenuRegistrar">Registros</a></li>
                <li role="presentation" class=""><a href="#!/MenuControl">Control</a></li>
                <li role="presentation" class="active"><a href="#!/MenuConsultas">Consultas</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-3 list-group btn-lg botones le">
            <a href="#!/ConsultasColmena" class="list-group-item">Consultar Colmena</a>
            <a href="#!/ConsultaInventarios" class="list-group-item">Inventario</a>
            <a href="#!/ConsultaReportes" class="list-group-item active">Reportes</a>
        </div>

        <div class="col-lg-9 col-xs-9">
            <div class="text-center Titulo">
                Reportes
            </div>

            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 subtitulo">
                    <div class="col-lg-4">
                        <label >Nombre del Apiario</label>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control">
                            <option>Apiario 1</option>
                            <option>Apiario 2</option>
                            <option>Apiario 3</option>
                            <option>Apiario 4</option>
                            <option>Apiario 5</option>
                        </select>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <div class="col-lg-6">
                        <center>  <a href="ConsultasReportesDatos2.html">  <button class="btn btn-lg btn-default btnConsulasReportes">Datos</button></center></a>
                    </div>

                    <div class="col-lg-6">
                        <center>  <a href="ConsultasReportesGraficas2.html"> <button class="btn btn-lg btn-default btnConsulasReportes">Graficas</button></center></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div>

