<div class=" container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="le nav nav-tabs btn-lg">
                <li role="presentation" class=""><a href="#!/MenuRegistrar">Registros</a></li>
                <li role="presentation" class=""><a href="#!/MenuControl">Control</a></li>
                <li role="presentation" class="active"><a href="#!/MenuConsultas">Consultas</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-3 list-group btn-lg botones le">
            <a href="#!/ConsultasColmena" class="list-group-item active">Consultar Colmena</a>
            <a href="#!/ConsultaInventarios" class="list-group-item">Inventario</a>
            <a href="#!/ConsultaReportes" class="list-group-item">Reportes</a>
        </div>

        <div class="col-lg-9 col-xs-9">
            <div class="row">
                <div class="text-center Titulo">
                    Consultas
                </div>
            </div>

            <div class="row">
                <div class="text-center Titulo subtituloConsulColRegular">
                    Regular
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-offset-2 col-lg-8">
                    <table border class="table">
                        <tr>
                            <td><strong>Apiario</strong></td>
                            <td><strong>Colmena</strong></td>
                            <td><strong>Estado</strong></td>
                        </tr>

                        <tr>
                            <td>Apiario 1</td>
                            <td>1</td>
                            <td>Regular</td>
                        </tr>

                        <tr>
                            <td>Apiario 1</td>
                            <td>2</td>
                            <td>Regular</td>
                        </tr>

                        <tr>
                            <td>Apiario 1</td>
                            <td>3</td>
                            <td>Regular</td>
                        </tr>

                        <tr>
                            <td>Apiario 1</td>
                            <td>4</td>
                            <td>Regular</td>
                        </tr>

                        <tr>
                            <td>Apiario 1</td>
                            <td>5</td>
                            <td>Regular</td>
                        </tr>

                        <tr>
                            <td>Apiario 2</td>
                            <td>2</td>
                            <td>Regular</td>
                        </tr>

                        <tr>
                            <td>Apiario 2</td>
                            <td>3</td>
                            <td>Regular</td>
                        </tr>

                        <tr>
                            <td>Apiario 2</td>
                            <td>4</td>
                            <td>Regular</td>
                        </tr>

                        <tr>
                            <td>Apiario 2</td>
                            <td>5</td>
                            <td>Regular</td>
                        </tr>
                    </table>
                    <div class="col-lg-offset-10 col-lg-2">
                        <a href="ConsultasColmena.html"><button class="btn btn-block btn-group-lg btn-default">Atras</button></a>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div>

