<div class=" container-fluid">

    <ng-include src="'app/template/partial/menuHeadControl.html'"></ng-include>

    <div class="row">
        
        <ng-include src="'app/template/partial/subMenuControl.html'"></ng-include>
        
        <div class="col-lg-9 col-xs-9">
            <div class="Titulo">
                Control Aveja Reina
            </div>
            <div class="col-lg-6 margenformulario">
                <div class="col-lg-offset-3 col-lg-6">
                    <label >Apiario</label>
                    <select class="form-control">
                        <option>Apiario 1</option>
                        <option>Apiario 2</option>
                        <option>Apiario 3</option>
                        <option>Apiario 4</option>
                        <option>Apiario 5</option>
                    </select>
                </div>

                <div class="col-lg-offset-3 col-lg-6">
                    <label >Estado</label>
                    <select class="form-control">
                        <option>Bueno</option>
                        <option>Regular</option>
                        <option>Malo</option>
                    </select>
                </div>
                <div class="col-lg-offset-3 col-lg-6">
                    <label >Fecha de Cambio de la Reina</label>
                    <input type="date" class="form-control">
                </div>
            </div>


            <div class="col-lg-6 margenformulario">
                <div class="col-lg-offset-3 col-lg-6">
                    <label >Colmena</label>
                    <select class="form-control">
                        <option>Colmena 1</option>
                        <option>Colmena 2</option>
                        <option>Colmena 3</option>
                        <option>Colmena 4</option>
                        <option>Colmena 5</option>
                    </select>
                </div>

                <button class="btn btn-lg col-lg-offset-4 col-lg-4 btn-lg margenboton">Cambiar Reina</button>

            </div>

        </div>
        
    </div>
    
</div>

<div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div>


