        <div class=" container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="le nav nav-tabs btn-lg">
                       <li role="presentation" class=""><a href="#!/MenuRegistrar">Registros</a></li>
                        <li role="presentation" class="active"><a href="#!/MenuControl">Control</a></li>
                        <li role="presentation" class=""><a href="#!/MenuConsultas">Consultas</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-xs-3 list-group btn-lg botones le">
                    <a href="#!/ControlApiarios" class="list-group-item">Control Apiarios</a>
                    <a href="#!/ControlInventario" class="list-group-item">Inventario</a>
                    <a href="#!/ControlProduccionMiel" class="list-group-item">Produccion De Miel</a>
                    <a href="#!/ControlAbejaReina" class="list-group-item active">Control De Aveja Reina</a>
                    <a href="#!/ControlGastos" class="list-group-item">Gastos</a>
                </div>
                <div class="col-lg-9 col-xs-9">
                    <div class="Titulo">
                        Control Aveja Reina
                    </div>
                    <div class="col-lg-6 margenformulario">
                        <div class="col-lg-offset-3 col-lg-6">
                        <label >Apiario</label>
                            <select class="form-control">
                                <option>Apiario 1</option>
                                <option>Apiario 2</option>
                                <option>Apiario 3</option>
                                <option>Apiario 4</option>
                                <option>Apiario 5</option>
                            </select>
                        </div>
                        
                        <div class="col-lg-offset-3 col-lg-6">
                        <label >Estado</label>
                            <select class="form-control">
                                <option>Bueno</option>
                                <option>Regular</option>
                                <option>Malo</option>
                            </select>
                        </div>
                        <div class="col-lg-offset-3 col-lg-6">
                        <label >Fecha de Cambio de la Reina</label>
                        <input type="date" class="form-control">
                         </div>
                    </div>

                    
                    <div class="col-lg-6 margenformulario">
                        <div class="col-lg-offset-3 col-lg-6">
                        <label >Colmena</label>
                            <select class="form-control">
                                <option>Colmena 1</option>
                                <option>Colmena 2</option>
                                <option>Colmena 3</option>
                                <option>Colmena 4</option>
                                <option>Colmena 5</option>
                            </select>
                        </div>
                        
                        <button class="btn btn-lg col-lg-offset-4 col-lg-4 btn-lg margenboton">Cambiar Reina</button>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div>
    <script src="js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="js/bootstrap-checkbox.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>

