        <div class="row">
            <div class="panel panel-warning centrarLogin">
                <div class="panel-heading Titulo">LOGIN</div>
                <div class="panel-body">

                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Usuario" name="Usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="Contraseña">
                    </div>
                    <a href="MenuRegistrar.html" class="quitarlink"><button type="submit" class="btn btn-warning btn-block btn-lg">Entrar</button></a>

                </div>
            </div>
        </div>
        <script src="js/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
