    <body>
        <div class=" container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="le nav nav-tabs btn-lg">
                        <li role="presentation" class=""><a href="#!/MenuRegistrar">Registros</a></li>
                        <li role="presentation" class="active"><a href="#!/MenuControl">Control</a></li>
                        <li role="presentation" class=""><a href="#!/MenuConsultas">Consultas</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-xs-3 list-group btn-lg botones le">
                    <a href="#!/ControlApiarios" class="list-group-item">Control Apiarios</a>
                    <a href="#!/ControlInventario" class="list-group-item">Inventario</a>
                    <a href="#!/ControlProduccionMiel" class="list-group-item">Produccion De Miel</a>
                    <a href="#!/ControlAbejaReina" class="list-group-item">Control De Aveja Reina</a>
                    <a href="#!/ControlGastos" class="list-group-item">Gastos</a>
                </div>

                <div class="col-lg-9 col-xs-9">
                    <div class="text-center">
                        <img class="col-lg-offset-3 col-xs-offset-1 imagen" src="Imgs/miel_rayon_0.jpg" alt=""/>
                    </div>
                    
                </div>
            </div>
        </div>
        <a href="CopyRight.html"><div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div></a> 
 