
        <div class=" container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="le nav nav-tabs btn-lg">
                        <li role="presentation" class=""><a href="MenuRegistrar.html">Registros</a></li>
                        <li role="presentation" class=""><a href="MenuControl.html">Control</a></li>
                        <li role="presentation" class="active"><a href="MenuConsultas.html">Consultas</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-xs-3 list-group btn-lg botones le">
                    <a href="#!/ConsultasColmena" class="list-group-item">Consultar Colmena</a>
                    <a href="#!/ConsultaInventarios" class="list-group-item">Inventario</a>
                    <a href="#!/ConsultaReportes" class="list-group-item">Reportes</a>
                   

                </div>

                <div class="col-lg-9 col-xs-9">
                    <div class="text-center">
                        <img class="col-lg-offset-3 col-xs-offset-1 imagen" src="Imgs/Consultas.png" alt=""/>
                    </div>
                    
                </div>
            </div>
        </div>
        <a href="CopyRight.html"><div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div></a> 
        
