<div class=" container-fluid">
    <ng-include src="'app/template/partial/menuHeadRegistro.html'"></ng-include>
    <div class="row">
        <ng-include src="'app/template/partial/subMenuRegistro.html'"></ng-include>
        <div class="col-lg-9 col-xs-9 ">
            <!--titulo-->
            <div class="col-lg-12 Titulo">
                Registrar Usuario
            </div>
            <div class="col-lg-6">
                <form class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
                    <div class="form-group">
                        <label >Usuario</label>
                        <input type="text" class="form-control" name="Usuario" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <label >Contraseña</label>
                        <input type="password" class="form-control" name="Contrasña" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <label >Confirmar Contraseña</label>
                        <input type="password" class="form-control" name="ConfirmarContraseña" placeholder="Confirmar Contraseña">
                    </div>
                    <div class="form-group">
                        <label >Correo</label>
                        <input type="email" class="form-control" name="Correo" placeholder="Correo">
                    </div>
                    <div class="form-group">
                        <label >Celular</label>
                        <input type="number" class="form-control" name="Celular" placeholder="Celular">
                    </div>

                    <!--rol-->
                    <label >Rol</label>
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-default">Admin</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Admin Apiario</a></li>
                            <li><a href="#">Contador</a></li>
                        </ul>
                    </div>
                    <br>
                    <div class="row"style="text-align: right">
                        <button type="submit" class="btn btn-success margenboton ">Guardar</button>
                        <button type="submit" class="btn btn-warning margenboton ">Cancelar</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-6">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Gestion de Usuarios</div>
                    <table class="table table-bordered">
                    <tr>
                        <th>Usuario</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>

                    <tbody>
                        <tr>
                            <td>Yisus</td>
                            <td>jesusandres548@gmail.com</td>
                            <td>3113393379</td>
                            <td>ADMIN</td>
                            <td><i class=" glyphicon glyphicon-pencil tamañoImagenes"></i><i class="glyphicon glyphicon-trash tamañoImagenes"></i></td>
                        </tr>
                    </tbody>
                </table>
                </div>
                

            </div>


        </div>

    </div>
    <div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div>
