        <div class=" container-fluid">

            <ng-include src="'app/template/partial/menuHeadControl.html'"></ng-include>

            <div class="row">
                
               <ng-include src="'app/template/partial/subMenuControl.html'"></ng-include>

                <div class="col-lg-8 col-xs-9 col-lg-offset-1 col-xs-offset-2">

                    <div class="col-lg-8 col-xs-9 Titulo">
                        Gastos
                    </div>

                    <form class="col-lg-offset-1 col-lg-8 col-xs-offset-1 col-xs-5 margenformulario">

                        <div class="row">

                            <div class="col-lg-6 col-xs-6">

                                <div class="col-lg-12 col-xs-12">
                                    <label >Elemento de Gasto</label>
                                    <select class="form-control">
                                        <option>Trabajadores</option>
                                        <option>otros</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label >Valor de Gasto</label>
                                        <input type="number" class="form-control" name="Codigo" placeholder="Valor Gastos">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-xs-12">
                                    <label >Fecha de Entrada</label>
                                    <input type="date" class="btn-lg form-control">
                                </div>

                                <div class="col-lg-12 col-xs-12 observacionesgastos">
                                    <label >Observaciones</label>
                                    <textarea class="form-control btn-lg " rows="8"></textarea>
                                </div>

                            </div>

                            <div class="col-lg-6 col-xs-6">

                                <div class="row">

                                    <div class="col-lg-5 col-xs-5">
                                        <label >Apiario</label>
                                        <select class="form-control apiarios1">
                                            <option>Apiario 1</option>
                                            <option>Apiario 2</option>
                                            <option>Apiario 3</option>
                                            <option>Apiario 4</option>
                                            <option>Apiario 5</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-1 col-xs-1">
                                        <button type="submit" class="btn btn-success btn-xs aumento">+</button>
                                    </div>

                                    <div class="col-lg-5 col-xs-5">
                                        <textarea class="form-control apiarios" rows="10"></textarea>
                                    </div>

                                    <div class="col-lg-1 col-xs-1">
                                        <button type="submit" class="btn btn-warning btn-xs merma">-</button>
                                    </div>

                                    <div class="col-lg-12 col-xs-12">
                                        <div class="textogastos">Valor por Apiario</div>
                                    </div>

                                    <div class="col-lg-12 col-xs-12">
                                        <div class="textogastos1">0</div>
                                    </div>


                                    <div class="text-center col-lg-12 col-xs-12"> 
                                        <button type="submit" class="btn btn-success btn-lg margenboton ">Guardar</button>
                                        <button type="submit" class="btn btn-warning btn-lg margenboton ">Cancelar</button>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div>
