<div class=" container-fluid">
    <ng-include src="'app/template/partial/menuHeadRegistro.html'"></ng-include>
    <div class="row">
        <ng-include src="'app/template/partial/subMenuRegistro.html'"></ng-include>
        <div class="col-lg-9 col-xs-9 ">
            <!--titulo-->
            <div class="col-lg-12 Titulo">
                Registrar Usuario
            </div>
            <div class="col-lg-6">
                <form class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8" ng-submit="guardar()">
                    <div class="form-group">
                        <label >Usuario</label>
                        <input type="text" class="form-control" name="Usuario" placeholder="Usuario" ng-model="datos.usuario" required>
                    </div>
                    <div class="form-group">
                        <label >Contraseña</label>
                        <input type="password" class="form-control" name="Contrasña" placeholder="Contraseña" required  ng-model="datos.contrasena">
                    </div>
                    <div class="form-group">
                        <label >Confirmar Contraseña</label>
                        <input type="password" class="form-control" name="ConfirmarContraseña" placeholder="Confirmar Contraseña" required ng-model="datos.confirmarContrasena">
                    </div>
                    <div class="form-group">
                        <label >Correo</label>
                        <input type="email" class="form-control" name="Correo" placeholder="Correo" required ng-model="datos.correo">
                    </div>
                    <div class="form-group">
                        <label >Celular</label>
                        <input type="number" class="form-control" name="Celular" placeholder="Celular" required  ng-model="datos.celular">
                    </div>

                    <!--rol-->
                    <div class="form-group">
                        <label for="selectRol">Rol</label>
                        <select id="selectRol" class="form-control" required ng-model="datos.rol">
                            <option value="">Seleccione un rol</option>
                            <option value="admin">Administrador</option>
                            <option value="contador">Contador</option>
                        </select>
                    </div>

                    <div class="row" style="text-align: right">
                        <button type="submit" class="btn btn-success margenboton ">Guardar</button>
                        <button type="submit" class="btn btn-warning margenboton ">Cancelar</button>
                    </div>

                    <div class="alert alert-success alert-dismissible" role="alert" ng-show="usuarioGuardado">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Usuario Guardado
                    </div>
                </form>
            </div>

            <div class="col-lg-6">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Gestion de Usuarios</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Usuario</th>
                            <th>Correo</th>
                            <th>Celular</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>

                        <tbody>
                            <tr ng-repeat="x in tabla">
                                <td>{{x.usuario}}</td>
                                <td>{{x.email}}</td>
                                <td>{{x.celular}}</td>
                                <td>{{x.rol}}</td>
                                <td>
                                    <i class="glyphicon glyphicon-pencil tamañoImagenes" data-toggle="modal" data-target="#modalEditar" ng-click="editar(x)"></i>
                                    <i class="glyphicon glyphicon-trash tamañoImagenes" data-toggle="modal" data-target="#modalEliminar" ng-click="eliminar(x)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xs-12 panel panel-heading copy btn-lg">Copyright</div>
</div>




<!-- Modal Editar-->
<div class="modal fade" id="modalEditar" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" style="font-size: 20px; text-align: center">Editar Usuario</h4>
            </div>
            <div class="modal-body">

                <!--        <input type="text"ng-model="mod_usuario">-->
                <form>
                    <div class="row">
                        <label for="inputPassword3" ng-model="modal.usuario" class="col-lg-12 control-label" style="text-align:center; font-size: 35px;">{{modtitulo}}</label>
                    </div>

                    <div class="row" style="margin-top: 3px;">
                        <label for="inputPassword3" class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Cedula</label>
                        <div class="col-lg-7">
                            <input ng-model="modal.cedula" type="number" class="form-control colorTexboxU" placeholder="Cedula">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 3px;">
                        <label for="inputPassword3" class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Nombre</label>
                        <div class="col-lg-7">
                            <input ng-model="modal.nombre" type="text" class="form-control colorTexboxU" placeholder="Nombre">
                        </div>
                    </div>


                    <div class="row" style="margin-top: 3px;">
                        <label for="inputPassword3" class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Correo</label>
                        <div class="col-lg-7">
                            <input ng-model="modal.correo" type="email" class="form-control colorTexboxU" placeholder="Email">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 3px;">
                        <label class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Celular</label>
                        <div class="col-lg-7">
                            <input ng-model="modal.celular" type="number" class="form-control colorTexboxU" placeholder="Celular">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 3px;">
                        <div class="form-group">
                            <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Rol</label>
                            <div class="col-lg-7">
                                <select ng-model="modal.rol" class="form-control colorTexboxU" required>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Invitado">Invitado</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 3px;">
                        <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Anterior Contraseña</label>
                        <div class="col-lg-7">
                            <input ng-model="modal.anteriorContra" type="password" class="form-control colorTexboxU" placeholder="Anterior Contraseña">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 3px;">
                        <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Nueva Contraseña</label>
                        <div class="col-lg-7">
                            <input ng-model="modal.contrasena" type="password" class="form-control colorTexboxU" placeholder="Nueva Contraseña">
                        </div>
                    </div>

                    <div class="alert alert-success" role="alert" ng-show="modalact">{{mensajeactualizar}}</div>
                    <div class="alert alert-warning" role="alert" ng-show="modalContraIncorrecta">{{mensajeactualizar}}</div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrarModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="editar(x, false)">Confirmar Editar</button>
            </div>
        </div>
    </div>
</div>




<!--Modal Eliminar-->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="font-size: 20px; text-align: center">Eliminar Usuario</h4>
            </div>
            <div class="modal-body">
                Deseas Eliminar el Usuario {{modal.usuario}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="eliminar(modal,false)">Eliminar</button>
            </div>
        </div>
    </div>
</div>